$dark-black: #0D0908;
$light-black:#262525;
$white:#F2F2F2;
$light-gray:#BFBFBF;
$dark-gray:#737373;
$hover-gray:rgb(234, 234, 234);

$font-style:'微軟正黑體', 'Arial Narrow', Arial, sans-serif;


// breakpoint
$bigpad-screen:850px;
$pad-screen:700px;
$phone-screen:550px;